// COLOURS //

$color-darker-grey: rgba(85,85,85,1);
$color-dark-grey: rgba(121,121,121,1);
$color-mid-grey: rgba(184,185,183,1);
$color-light-grey: rgba(210,211,209,1);
$color-white: rgba(255,255,255,1);
$color-black: rgba(0,0,0,1);

// 2 MAIN COLORS
$color-primary: rgba(255,105,105,1);
$color-secondary: cornsilk;

// Other colors are blends of the 2 main
$color-primary-alpha1: rgba($color-primary, 0.1);
$color-border: $color-light-grey;
$color-bg: $color-secondary;
$color-text: $color-dark-grey;

$color-primary-alpha1-opaque: mix($color-primary, $color-bg, 15%);

// FONTS //

$font-primary: Roboto, Arial, Helvetica, sans-serif;
$font-secondary: Roboto, 'Times New Roman', Times, serif;



// CONSTANTS

$border: 3px solid $color-border;
$border: none;

// Z INDEX
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;
$z6: 600;
$z7: 700;
$z8: 800;



// BREAKPOINTS

$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1400px;

@mixin landscape-xs {
  @media only screen and (max-height : 450px) and (orientation : landscape) {
    @content;
  }
}

@mixin low-height {
  @media only screen and (max-height : 770px) {
    @content;
  }
}

@mixin xxs {
  @media only screen and ( max-width: $screen-xs ) {
    @content;
  }
}

@mixin xs {
  @media only screen and ( min-width: $screen-xs ) {
    @content;
  }
}

@mixin sm {
  @media only screen and ( min-width: $screen-sm ) {
    @content;
  }
}

@mixin sm-down {
  @media only screen and ( max-width: $screen-sm ) {
    @content;
  }
}

@mixin md {
  @media only screen and ( min-width: $screen-md ) {
    @content;
  }
}

@mixin md-down {
  @media only screen and ( max-width: $screen-md ) {
    @content;
  }
}

@mixin lg {
  @media only screen and ( min-width: $screen-lg ) {
    @content;
  }
}

@mixin xlg {
  @media only screen and ( min-width: $screen-xlg ) {
    @content;
  }
}



// BASE //

*, *:before, *:after {
  box-sizing: border-box;
}


// This stops the page from scrolling on overflow
body, html {height:100%;}
body {overflow: hidden; }
div.fixed-window {height:100%; overflow:hidden;}

body {
  font-family: $font-secondary;
  font-size: 15px;
  font-style: italic;
  background: $color-bg;
  color: $color-text;
  letter-spacing: 0.5px;
  line-height: 1.5;

  @include sm {
    font-size: 17px;
  }
}




// TYPOGRAPHY //

h1,
h2,
h3 {
  font-family: $font-primary;
  font-weight: 300;
  color: $color-primary;
}

h1 {
  font-size: 36px;
  line-height: 34px;
  letter-spacing: 1.5px;
  margin: 0;
  text-transform: capitalize;

  @include sm {
    font-size: 44px;
    line-height: 38px;
    letter-spacing: 2.2px;
  }

  @include md {
    font-size: 54px;
    line-height: 48px;
  }

  .omni-first-letter {
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #ffe4cb;
    margin-right: 3px;
    transition: background-color 1s ease;
    border: #ffb2a3 1px solid;

    color: transparent;
    position: absolute;
    left: 0;
    top: 2px;

    @include sm {
      width: 33px;
      height: 33px;
      border: #ffb2a3 2px solid;
    }

    @include md {
      width: 40px;
      height: 40px;
    }
  }
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}

a {
  color: #ff6969;
}


// GENERIC

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &.list-inline li {
    display: inline-block;
  }
}

li {
  width: 50px;
  height: 50px;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.btn {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.col-xs-12 {
  width: 100%;
}
.col-xs-5 {
  width: (100/12)*5%;
}
.col-xs-2 {
  width: (100/12)*2%;
}
.col-md-6 {
  @include md {
    float: left;
    width: 50%;
  }
}

[class*=col-] {
  float: left;
}

// ICONS //

[class*=icon] {
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include sm-down {
    transform: scale(0.8);
  }
}

.icon-arrow-up,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right {
  background: url(../assets/icons/icon-arrow-up.svg) center no-repeat;
  background-size: contain;
}
.icon-arrow-down {
  transform: rotate(180deg) scale(0.8);
  @include md {
    transform: rotate(180deg);
  }
}

.icon-arrow-left {
  transform: rotate(270deg) scale(0.8);
  @include md {
    transform: rotate(270deg);
  }
}

.icon-arrow-right {
  transform: rotate(90deg) scale(0.8);
  @include md {
    transform: rotate(90deg);
  }
}

.icon-play {
  background: url(../assets/icons/icon-play.svg) center no-repeat;
  background-size: contain;
}

.icon-record {
  background: url(../assets/icons/icon-record.svg) center no-repeat;
  background-size: contain;
}

.icon-menu {
  background: url(../assets/icons/icon-menu.svg) center no-repeat;
  background-size: contain;
}

.icon-close {
  background: url(../assets/icons/icon-close.svg) center no-repeat;
  background-size: contain;
}

.icon-constellation {
  background: url(../assets/icons/icon-constellation.svg) center no-repeat;
  background-size: contain;
}

.icon-xy {
  background: url(../assets/icons/icon-xy.svg) center no-repeat;
  background-size: contain;
}

.icon-overdub {
  background: url(../assets/icons/icon-overdub.svg) center no-repeat;
  background-size: contain;
}

.icon-stop {
  background: url(../assets/icons/icon-stop.svg) center no-repeat;
  background-size: contain;
}

.icon-plus {
  background: url(../assets/icons/icon-plus.svg) center no-repeat;
  background-size: contain;
}

.icon-minus {
  background: url(../assets/icons/icon-minus.svg) center no-repeat;
  background-size: contain;
}

.icon-fb {
  background: url(../assets/icons/icon-fb.svg) center no-repeat;
  background-size: 40%;
}

.icon-tw {
  background: url(../assets/icons/icon-tw.svg) center no-repeat;
  background-size: 40%;
}

.btn-record {
  @extend .icon-record;
  &.is-overdubbing {
    @extend .icon-stop;
  }
  &.is-recording, &.is-playing {
    @extend .icon-overdub;
  }
}

.btn-play {
  @extend .icon-play;
  &.is-playing {
    @extend .icon-stop;
  }
  opacity: 0.3;
  &.has-loop {
    opacity: 1;
  }
}

.is-recording {
  background: url(../assets/icons/icon-plus.svg) center center no-repeat;
}

.is-overdubbing {
  background: url(../assets/icons/icon-minus.svg) center center no-repeat;
}

.is-playing {
  background: url(../assets/icons/icon-minus.svg) center center no-repeat;
}



// SPECIFIC COMPONENTS

.container {
  padding: 0 5px;
  @include sm {
    padding: 0 8px;
  }
}

.main-view {
  height: 100%;
  flex-direction: column;
}

.nav {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;



  @include sm {
    height: 83px;
    margin-bottom: 30px;
  }
  h1 {
    font-style: normal;
    color: #ffb2a3;
    position: relative;
    padding-left: 31px;
    @include sm {
      padding-left: 37px;
    }
    @include md {
      padding-left: 42px;
    }
  }
}

.scale-selector  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  @include landscape-xs {
    height: 80px;
  }

  @include sm {
    margin-bottom: 20px;
    justify-content: center;
  }
  @include md {
    margin-bottom: 60px;
    // justify-content: center;
  }

  @include lg {
    margin-bottom: 70px;
    margin-top: -40px;
  }

  .scale-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include sm {
      padding: 0 60px 0 50px;
      width: 640px;
    }
    h1 {
      // line-height: 50px;
      @include md {
        line-height: 54px;
        font-size: 60px;
      }
      @include lg {
        line-height: 72px;
        font-size: 78px;
      }
    }
  }
  .arrows {
    position: absolute;
    span {
      margin: 4px 0 7px -5px;
    }
  }

  &.inline {
    @extend .flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
  }
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;

  .btn {
    margin: 5px;
    background-size: 60%;
    @include md {
      margin: 0 16px 0;
      background-size: 70%;
    }
    @include landscape-xs {
      margin: 0 8px 0 8px;
    }
  }
}


.record-play-group {
  // position: absolute;
  // margin: auto;
  // left: 0;
  // right: 0;
  // width: 135px;
  @extend .flex;
  // padding-top: 27px;
  justify-content: center;

  li {
    margin: 27px 15px;
  }

  @include xxs {
    position: absolute;
    right: 0;
    flex-direction: column;
  }
}

.middle-section {
  flex: 4;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 40px;

  @include md {
    padding-bottom: 100px;
  }

  @include landscape-xs {
    display: none;
  }

  &--2 .pitch-constellation-section {
    position: absolute;
    left: -100%;
    @include md {
      position: static;
      left: auto;
    }
  }

  &--2 .xy-pad-section {
    display: flex;
    position: static;
    left: auto;
  }
}


.middle-switch {
  display: block;
  position: absolute;
  right: 0;
  bottom: 7px;
  @include sm {
    bottom: 10px;
  }
  @include md {
    display: none;
    bottom: auto;
  }

}

.pitch-constellation-section, .xy-pad-section {
  @extend .flex;
  @extend .justify-center;
  flex: 1;
  $d: 200px;


  .pitch-constellation, .xy-pad {
    width: $d;
    height: $d;
    position: relative;
    @include sm {
      width: $d + 100;
      height: $d + 100;
    }
    @include low-height {
      width: $d;
      height: $d;
    }
  }
  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $color-primary-alpha1;
    position: absolute;
    cursor: pointer;
    div {
      $lineWidth: 1px;
      width: $lineWidth;
      height: 50%;
      position: absolute;
      background: $color-primary;
      left: 50%;
      transform-origin: bottom;
      transition: transform 0.1s ease;
    }
  }
  .letters {
    @extend .flex;
    align-items: center;
    @extend .justify-center;
    height: 100%;
  }
  span {
    font-size: 12px;
    @include sm {
      font-size: 18px;
    }
    @include low-height {
      font-size: 12px;
    }
  }
  min-width: auto;
  @include sm {
    min-width: 50%;
  }
  @include md {
    min-width: auto;
  }
}
.pitch-constellation span {
  position: absolute;
  &.is-selected {
    font-size: 20px;
    color: $color-primary;
    @include sm {
      font-size: 30px;
    }
    @include low-height {
      font-size: 20px;
    }
  }
  padding: 30px;
  transform-origin: center;
  cursor: pointer;
  color: $color-dark-grey;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;

  // numbers on a clock face
  &.n0 {
    transform: translate(0, -133px);
    @include sm {
      transform: translate(0, -183px);
    }
    @include low-height {
      transform: translate(0, -133px);
    }
  }
  &.n1 {
    transform: translate(71px, -114px);
    @include sm {
      transform: translate(91px, -154px);
    }
    @include low-height {
      transform: translate(71px, -114px);
    }
  }
  &.n2 {
    transform: translate(119px, -69px);
    @include sm {
      transform: translate(159px, -89px);
    }
    @include low-height {
      transform: translate(119px, -69px);
    }
  }
  &.n3 {
    transform: translate(133px, 2px);
    @include sm {
      transform: translate(183px, 2px);
    }
    @include low-height {
      transform: translate(133px, 2px);
    }
  }
  &.n4 {
    transform: translate(112px, 69px);
    @include sm {
      transform: translate(152px, 89px);
    }
    @include low-height {
      transform: translate(112px, 69px);
    }
  }
  &.n5 {
    transform: translate(67px, 113px);
    @include sm {
      transform: translate(87px, 153px);
    }
    @include low-height {
      transform: translate(67px, 113px);
    }
  }
  &.n6 {
    transform: translate(2px, 125px);
    @include sm {
      transform: translate(2px, 175px);
    }
    @include low-height {
      transform: translate(2px, 125px);
    }
  }
  &.n7 {
    transform: translate(-68px, 115px);
    @include sm {
      transform: translate(-88px, 155px);
    }
    @include low-height {
      transform: translate(-68px, 115px);
    }
  }
  &.n8 {
    transform: translate(-116px, 72px);
    @include sm {
      transform: translate(-156px, 92px);
    }
    @include low-height {
      transform: translate(-116px, 72px);
    }
  }
  &.n9 {
    transform: translate(-126px, 2px);
    @include sm {
      transform: translate(-176px, 2px);
    }
    @include low-height {
      transform: translate(-126px, 2px);
    }
  }
  &.n10 {
    transform: translate(-119px, -69px);
    @include sm {
      transform: translate(-159px, -89px);
    }
    @include low-height {
      transform: translate(-119px, -69px);
    }
  }
  &.n11 {
    transform: translate(-69px, -113px);
    @include sm {
      transform: translate(-89px, -153px);
    }
    @include low-height {
      transform: translate(-69px, -113px);
    }
  }

}


.xy-pad-section {
  @extend .flex;
  position: absolute;
  left: -100%;
  min-width: auto;
  @include sm {
    min-width: 50%;
  }
  @include md {
    display: flex;
    min-width: auto;
    position: static;
    left: auto;
  }
}

.xy-pad {
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: 1px solid $color-primary;
  border-left: 1px solid $color-primary;

  .overflow-hidden {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  .triange {
    width: calc(100% * 2);
    height: calc(100% * 2);
    position: absolute;
    transform-origin: top left;
    transform: rotate(-45deg);
    background: $color-primary-alpha1;
  }

  canvas {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
  }

  .fx-name {
    padding: 10px 20px;
  }

  .x-name, .y-name {
    position: absolute;
    width: 100%;
    text-align: center;
    color: $color-dark-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .js-fx-switch {
      background-size: 30%;
      background-position-y: 0%;
    }
    output {
      position: absolute;
      right: 2px;
      color: #ffb2a3;

    }
  }
  .x-name {
    bottom: -48px;
    output {
      top: -20px;
      @include low-height {
        top: -13px;
        font-size: 10px;
      }
    }
  }
  .y-name {
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    transform: rotate(270deg);
    output {
      top: 47px;
      @include low-height {
        top: 49px;
        font-size: 10px;
      }
    }
  }
}

.mode-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0px;
  overflow: hidden;
}



.scale-info {
  text-align: center;
  max-width: 580px;
  margin: 0 auto 30px;
}

.scale-descrip {
  margin: 40px 0 20px;
  @include sm {
    margin: 1em 0;
  }
}

.fav-scale-controller {
  position: absolute;
  right: -9px;
  top: 5px;
  .icon-plus {
    width: 45px;
    height: 45px;
    background-size: 50%;
  }
}

.selector-section {
  position: relative;
  flex-flow: row wrap;
  align-content: flex-end;
}
.drone-selector, .fav-scale-selector {
  @extend .flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  @include sm {
    width: 50%;
  }

  h5 {
    display: none;
    margin: 8px 0;
    @include md {
      display: block;
    }
  }

  li {
    @extend .flex;
    align-items: center;
    @extend .justify-center;
    flex: 1;
    max-width: 60px;
    height: 45px;
    color: $color-dark-grey;
    @include sm {
      height: 57px;
    }

    border-top: $border;
    border-left: $border;
    text-align: center;
    font-size: 14px;
    &:last-of-type {
      border-right: $border;
    }
  }
}
.fav-scale-selector {
  @extend .flex;

  h5 {
    text-align: right;
  }
  ul {
    justify-content: flex-end;
    padding-right: 35px;
  }
  li {
    max-width: 60px;
    @include sm {
      max-width: 120px;
    }
    &.is-selected {
      color: $color-primary;
    }
  }
}

.harp {
  flex: 2;
  @include md {
    flex: 4;
  }
  border-top: $border;
  border-left: $border;
  border-right: $border;
  cursor: pointer;
  canvas {
    width: 100%;
  }
}

.effects-choice-overlay {
  position: absolute;
  width: 300px;
  height: 0;
  top: 0;
  left: 0;
  background: $color-primary-alpha1-opaque;
  overflow: hidden;
  text-align: center;

  transition: height 0.1s ease;
  &.is-active {
    padding: 24px 20px;
    height: 300px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 2px;
    background-size: 70%;
  }

  [class*=icon-arrow] {
    background-size: 100%;
  }

  h4 {
    margin: 30px 0 -5px;
  }
}


// SETTINGS PANE
.settings-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: $color-primary-alpha1-opaque;
  height: 100vh;
  width: 100%;
  z-index: $z5;
  overflow: auto;
  padding-top: 58px;


  &.is-active {
    display: block;
    flex-direction: column;

    @include sm {
      padding-top: 113px;
      display: flex;
    }
  }

  .omni-first-letter {
    background-color: #ffb2a3;
  }

  .nav {
    position: fixed;
    background: #ffe4cb;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding-left: 15px;
    @include sm {
      padding-left: 18px;
    }
  }

  > nav, > section, > footer {
    flex-shrink: 0;
  }

  > article {
    flex: 1 0 auto;
    max-width: 580px;
    margin: 30px auto;
    text-align: center;
  }

  .scale-selector  {

    @include sm {
      margin-bottom: 0;
    }
    @include md {
      margin-bottom: 30px;
    }
  }

}

.freqs li {
  font-size: 12px;
  height: auto;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .setting {
    margin: 20px 0;
    h4 {
      margin: 0;
    }
  }
}


.btn-download {
  display: none;
  border: 1px solid;
  padding: 0 20px;
  margin-right: 9px;
  line-height: 50px;
  cursor: pointer;

  &.has-loop {
    display: block;
  }
}


.settings-carousel {
  width: 260px;
  margin: auto;
  align-items: center;
  border-bottom: 1px solid #ffa699;
  margin: 0 auto 30px;
  padding: 10px 0;
  @include sm {
    padding: 20px 0;
  }
  ul {
    @extend .flex;
    @extend .justify-center;
    line-height: 50px;
    width: 100%;
    li {
      width: 100%;
      display: none;
      &.is-selected {
        display: block;
      }
    }
  }
}

.slider {
  max-width: 500px;
  height: 50px;
}



// MODIFIERS
.is-hidden {
  display: none;
}

// APP IS ACTIVE
.app-active {
  .startOverlay {
    display: none;
  }
  .loading-spinner {
    display: none;
    animation: none;
  }
}

// SPLASH
.splash-overlay {
  @extend .flex;
  @extend .justify-center;
  z-index: $z1;
  background: $color-secondary;
  opacity: 1;
  transition: opacity 1s ease 0.3s;
  img {
    width: 80%;
    max-width: 960px;
    opacity: 0;
    transition: opacity 3s ease;
  }
  &.is-active {
    img {
      opacity: 1
    }
    &.anim-ended img {
      transition: opacity 0.5s ease;
      opacity: 0;
    }
  }
  &.anim-ended {
    opacity: 0;
  }
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 10px;
  @include sm {
    padding: 0 5px 10px 20px;
  }
}

.share {
  display: flex;
  align-items: center;
}


.get-the-app {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 45px 0 0;
  cursor: pointer;
  max-width: 225px;

  h2 {
    margin-left: 20px;
    &:after {
      font-style: normal;
      content: '\2303';
      position: absolute;
      margin-left: 10px;
      margin-top: 6px;
    }
  }

  .app-store-links {
    display: none;
  }

  &.is-open h2:after {
    transform: rotate(180deg);
    transform-origin: 50% 36%;
  }

  &.is-open .app-store-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #ffffffba;
    bottom: 80px;
    width: 100%;

    a {
      border-bottom: 1px solid $color-primary;
      border-right: 1px solid $color-primary;
      padding: 20px;
      text-decoration: none;
      position: relative;

      &:after {
        content: '\203A';
        position: absolute;
        margin-left: 10px;
      }
    }
  }
}

