// COLOURS //

$color-dark-grey: rgba(121,121,121,1);
$color-mid-grey: rgba(184,185,183,1);
$color-light-grey: rgba(210,211,209,1);
$color-white: rgba(255,255,255,1);
$color-cream: rgba(255,255,250, 1);
$color-black: rgba(0,0,0,1);
$color-primary: rgba(255,105,105,1);
$color-primary-alpha1: rgba(255,105,105,0.15);
$color-bg: $color-black;
$color-border: $color-light-grey;


// FONTS //

$font-primary: Roboto, Arial, Helvetica, sans-serif;
$font-secondary: Lora, 'Times New Roman', Times, serif;



// CONSTANTS

$border: 3px solid $color-border;
$border: none;

// Z INDEX
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;
$z6: 600;
$z7: 700;
$z8: 800;



// BREAKPOINTS

$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1200px;

@mixin xxs {
  @media only screen and ( max-width: $screen-xs ) {
    @content;
  }
}

@mixin xs {
  @media only screen and ( min-width: $screen-xs ) {
    @content;
  }
}

@mixin sm {
  @media only screen and ( min-width: $screen-sm ) {
    @content;
  }
}

@mixin sm-down {
  @media only screen and ( max-width: $screen-sm ) {
    @content;
  }
}

@mixin md {
  @media only screen and ( min-width: $screen-md ) {
    @content;
  }
}

@mixin md-down {
  @media only screen and ( max-width: $screen-md ) {
    @content;
  }
}

@mixin lg {
  @media only screen and ( min-width: $screen-lg ) {
    @content;
  }
}



// BASE //

*, *:before, *:after {
    box-sizing: border-box;
}


// This stops the page from scrolling on overflow
body, html {height:100%;}
body {overflow: hidden; }
div.fixed-window {height:100%; overflow:hidden;}

body {
  font-family: $font-secondary;
  font-size: 15px;
  font-style: italic;
  background: $color-bg;
  color: $color-white;
  letter-spacing: 0.5px;
  line-height: 1.5;

  @include sm {
    font-size: 17px;
  }
}




// TYPOGRAPHY //

h1,
h2,
h3 {
  font-family: $font-primary;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  letter-spacing: 1.5px;
  margin: 0;
  @include sm {
    font-size: 44px;
    letter-spacing: 2.2px;
  }
  @include md {
    font-size: 60px;
  }
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}




// GENERIC

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &.list-inline li {
    display: inline-block;
  }
}

li {
  width: 50px;
  height: 50px;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.btn {
  cursor: pointer;
}

.left {
  float: left;
}

.text-center {
  text-align: center;
}

.col-xs-12 {
  width: 100%;
}
.col-md-6 {
  @include md {
    float: left;
    width: 50%;
  }
}

// ICONS //

[class*=icon] {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  @include sm-down {
    transform: scale(0.8);
  }
}

.icon-arrow-up,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right {
  background: url(../assets/icons/icon-arrow-up.svg) center center no-repeat;
}
.icon-arrow-down {
  transform: rotate(180deg);
}
.icon-arrow-left {
  transform: rotate(270deg);
}
.icon-arrow-right {
  transform: rotate(90deg);
}

.icon-play {
  background: url(../assets/icons/icon-play.svg) center center no-repeat;
}

.icon-record {
  background: url(../assets/icons/icon-record.svg) center center no-repeat;
}

.icon-menu {
  background: url(../assets/icons/icon-menu.svg) center center no-repeat;
}

.icon-close {
  background: url(../assets/icons/icon-close.svg) center center no-repeat;
}

.icon-plus {
  background: url(../assets/icons/icon-plus.svg) center center no-repeat;
}

.icon-minus {
  background: url(../assets/icons/icon-minus.svg) center center no-repeat;
}

.btn-record {
  @extend .icon-record;
  &.is-overdubbing {
    @extend .icon-minus;
  }
  &.is-recording, &.is-playing {
    @extend .icon-plus;
  }
}

.btn-play {
  @extend .icon-play;
  &.is-playing {
    @extend .icon-minus; //todo change to stop icon
  }
}

.is-recording {
  background: url(../assets/icons/icon-plus.svg) center center no-repeat;
}

.is-overdubbing {
  background: url(../assets/icons/icon-minus.svg) center center no-repeat;
}

.is-playing {
  background: url(../assets/icons/icon-minus.svg) center center no-repeat;
}



// SPECIFIC COMPONENTS

.container {
  padding: 0;
  @include sm {
    padding: 8px 8px 0;
  }
  @include md {
    padding: 20px 20px 0;
  }
}

.main-view {
  height: 100%;
  flex-direction: column;
}

.nav {
  // flex: 1;
  h1 {
    margin-left: 20px;
    margin-top: 32px;
  }
}

.nav-buttons {
  position: fixed;
  top: 0;
  right: 13px;
  height: 300px;
  flex-direction: column-reverse;
  z-index: $z1;
}


.middle-section {
  // flex: 6;
  flex-direction: column-reverse;
  padding-bottom: 40px;
  // height: 374px;
  // order: 1;
  @include sm {
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }
  // @include md {
  //   order: 2;
  // }
}
.xy-pad-section {
  display: flex;
  // flex: 3;
  .xy-pad {
    width: 100%;
    height: 100%;
    position: relative;
  }
  canvas {
    height: 100%;
    width: 100%;
  }
  min-width: auto;
  @include sm {
    min-width: 50%;
  }
  @include md {
    min-width: auto;
  }
}

.pitch-constellation-section, .xy-pad-section {
  display: flex;
  justify-content: center;
  flex: 1;

  $d: 300px;
  .pitch-constellation, .xy-pad {
    width: $d;
    height: $d;
  }
  .circle {
    width: $d;
    height: $d;
    border-radius: 50%;
    background: $color-primary-alpha1;
    position: absolute;
    div {
      $lineWidth: 3px;
      width: $lineWidth;
      height: ($d / 2);
      position: absolute;
      background: $color-primary;
      left: ($d / 2) - ($lineWidth/2);
      transform-origin: bottom;
      transition: transform 0.2s ease-in-out;
    }
  }
  .letters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  span {
    font-size: 18px;
  }
  min-width: auto;
  @include sm {
    min-width: 50%;
  }
  @include md {
    min-width: auto;
  }
}
.pitch-constellation span {
  position: absolute;
  &.is-selected {
    font-size: 30px;
  }
  padding: 30px;
  transform-origin: center;
  cursor: pointer;
  color: $color-dark-grey;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;

  // numbers on a clock face
  &.n0 {
    transform: translate(0, -183px);
  }
  &.n1 {
    transform: translate(93px, -157px);
  }
  &.n2 {
    transform: translate(159px, -89px);
  }
  &.n3 {
    transform: translate(183px, 2px);
  }
  &.n4 {
    transform: translate(156px, 92px);
  }
  &.n5 {
    transform: translate(91px, 159px);
  }
  &.n6 {
    transform: translate(2px, 183px);
  }
  &.n7 {
    transform: translate(-91px, 159px);
  }
  &.n8 {
    transform: translate(-156px, 92px);
  }
  &.n9 {
    transform: translate(-183px, 2px);
  }
  &.n10 {
    transform: translate(-159px, -89px);
  }
  &.n11 {
    transform: translate(-93px, -157px);
  }

}



.xy-pad {
  border-bottom: 3px solid $color-primary;
  border-left: 3px solid $color-primary;

  .overflow-hidden {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  .triange {
    width: 460px;
    height: 460px;
    position: absolute;
    transform-origin: top left;
    transform: rotate(-45deg);
    background: $color-primary-alpha1;
  }

  canvas {
    position: absolute;
  }

  .x-name, .y-name {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .x-name {
    bottom: -30px;
  }
  .y-name {
    bottom: 0;
    left: -12px;
    transform-origin: left bottom;
    transform: rotate(270deg);
  }
}

.mode-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  /* transform: scale(0.2); */
  top: 0;
  left: 0px;
  overflow: hidden;
}

.scale-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}
.scale-info {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.scale-name {
  margin: 30px;
  text-align: center;
  line-height: 50px;
}

.fav-scale-controller {
  position: absolute;
  right: 0;
  top: 50%;
  display: none;
  @include md {
    display: block;
  }
}

.selector-section {
  // flex: 1;
  flex-flow: row wrap;
  align-content: flex-end;
  // order: 3;
  // @include md {
  //   flex: 2;
  // }
}
.drone-selector, .fav-scale-selector {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  @include sm {
    width: 50%;
  }

  h5 {
    display: none;
    margin: 8px 0;
    @include md {
      display: block;
    }
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 60px;
    height: 45px;
    color: $color-dark-grey;
    @include sm {
      height: 57px;
    }

    border-top: $border;
    border-left: $border;
    text-align: center;
    font-size: 14px;
    &:last-of-type {
      border-right: $border;
    }
  }
}
.fav-scale-selector {
  display: none;
  @include sm {
    display: flex;
  }
  h5 {
    text-align: right;
  }
  ul {
    justify-content: flex-end;
  }
  li {
    max-width: 60px;
    @include sm {
      max-width: 120px;
    }
    @include md-down {
      // &:nth-of-type(1n +3) {
      //   display: none;
      //   border: solid red;
      // }
    }
  }
}

.harp {
  flex: 2;
  @include md {
    flex: 4;
  }
  border-top: $border;
  border-left: $border;
  border-right: $border;

  canvas {
    width: 100%;
  }

  // order: 4;
}


// SETTINGS PANE
.settings-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  z-index: $z5;
  overflow: auto;
  transform: translateY(0);
  transition: transform 0.3s ease;
  &.is-active {
    transform: translateY(100%);
  }
}

.freqs li {
  font-size: 12px;
  height: auto;
}

.settings-carousel {
  max-width: 500px;
  margin: auto;
  align-items: center;
  ul {
    @extend .flex;
    justify-content: center;
    line-height: 60px;
    width: 100%;
    li {
      width: 100%;
      display: none;
      &.is-selected {
        display: block;
      }
    }
  }
}



// MODIFIERS

.is-hidden {
  display: none;
}

.is-selected {
  // background: $color-primary;
  color: $color-white !important;
}

// APP IS ACTIVE

.app-active {
  .startOverlay {
    display: none;
  }
  .loading-spinner {
    display: none;
    animation: none;
  }
}